.chat-container {
  width: 100%;
  height: 100%;
}

.chat-body {
  height: 67vh;
  overflow: auto;
}

.chat-area {
  width: 70%;
}

.comment-container {
  position: fixed;
  bottom: 60px;
  text-align: center;
  width: 100%;
}

.comment-btn {
  margin: 0px 10px;
}

.comment-area {
  padding: 3px 30px 20px 30px;
}

.comment-area:hover {
  background-color: #dfdfdf;
}